<div class="col-sm-12 col-md-9 animated fadeInRight">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <h4 class="panel-title">Password</h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal form-validation" name="passwordForm" role="form" novalidate mm-modal-warning-unsaved-form>
                <div class="form-group required">
                    <label class="control-label col-sm-4">Current Password</label>
                    <div class="col-sm-5">
                        <input name="currentPassword" type="password" ng-model="vm.employee.currentPassword" class="form-control" required>
                        <a href="#">Forgot password?</a>
                        <div ng-if="passwordForm.$submitted" ng-messages="passwordForm.lastName.$error">
                            <div ng-message="required" class="error">This field is required.</div>
                        </div>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label col-sm-4">New Password</label>
                    <div class="col-sm-5">
                        <input name="newPassword" type="password" ng-model="vm.employee.newPassword" class="form-control" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label col-sm-4">Confirm Password</label>
                    <div class="col-sm-5">
                        <input name="confirmPassword" type="password" ng-model="vm.employee.confirmPassword" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-4">
                        <employee-save-button form="passwordForm"></employee-save-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
