.alert {
    border: none
}

.alert.alert-success {
    background: #7cdda7
}

.alert.alert-info {
    background: #93cfe5
}

.alert.alert-danger {
    background: #f8b2b2
}

.alert.alert-warning {
    background: #ffead0
}
