.btn:focus, .btn:active:focus, .btn.active:focus, .btn:hover:focus {
    outline: none; // disable bootstrap focus for buttons
    box-shadow: none; // disable bootstrap box-shadow for buttons
}

//******** footer circle button need to fix align
.btn-icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    padding: 0;
    border: none;
    line-height: 28px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #00acac;
    border-color: #00acac;
}
.btn-icon.active, .btn-icon:focus, .btn-icon:hover {
    background: #008a8a;
    border-color: #008a8a;
    color: #ffffff;
}
.btn-circle, .btn.btn-circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
//**********

.btn.btn-success {
    color: $white;
    background: $lightGreen;
    border-color: $lightGreen;
}
.btn.btn-success.active, .btn.btn-success:active,
.btn.btn-success:focus, .btn.btn-success:hover,
.open .dropdown-toggle.btn-success {
    background: $darkGreen;
    border-color: $darkGreen;
}
.btn.btn-default {
    color: $white;
    background: #b6c2c9;
    border-color: #b6c2c9;
}
.btn-default.active, .btn-default:active,
.btn-default:focus, .btn-default:hover,
.open .dropdown-toggle.btn-default {
    background: #929ba1;
    border-color: #929ba1;
}

.dropdown-menu {
    font-size: $fontSizeBase;
}
