.form-group.required .control-label:after {
    content: " *";
    color: $lightRed;
}

form {
    label {
        font-weight: $fontWeightMedium;
        font-size: $fontSizeBase;
        color: $fontColorDark;
        i {
            color: $lightGreen;
        }
    }
    a {
        color: $lightGreen;
        font-size: 12px;
        &:hover {
            color: $darkGreen;
        }
    }
    .currencyCode {
        padding-top: 7px;
        float: left;
        margin-left: -5px;
    }
}

.form-control {
    font-size: $fontSizeBase;
    border: $inputWidth solid $inputBorder;
    &:focus {
        box-shadow: none;
        border: $inputWidth solid $inputFocusBorder;
    }
}

//validation
.form-validation.ng-submitted {
    .form-control.ng-dirty.ng-valid{
        border-color: $lightGreen;
    }
    .form-control:focus.ng-dirty.ng-valid {
        box-shadow: none;
        border-color: $darkGreen;
    }
    .form-control.ng-invalid{
        border-color: $lightRed;
    }
    .form-control:focus.ng-invalid {
        box-shadow: none;;
        border-color: $darkRed;
    }
    .error {
        color: $lightRed;
        padding-top: 5px;
        font-size: $fontSizeBase;
        &:before {
            border: 5px solid transparent;
            float: left;
            margin: 4px;
            border-left-color: $lightRed;
            content: "";
            left: 0;
        }
    }
}
