.label.label-success {
    background-color: $lightGreen;
}
.label.label-danger {
    background-color: $lightRed;
}
.label.label-warning {
    background-color: $lightOrange;
}
.label.label-info {
    background-color: $lightBlue;
}
.label.label-default {
    background: #b6c2c9;
}
