.progress.progress-xs {
    height: 6px;
}
.progress-bar.progress-bar-success {
    background-color: $lightGreen;
}
.progress-bar.progress-bar-warning {
    background-color: $lightOrange;
}
.progress-bar.progress-bar-danger {
    background-color: $lightRed;
}
