.navbar-nav {
    font-size: 14px;
}
.header-nav > li > a > img {
    border: 2px solid #a8acb1;
    display: inline-block;
    float: left;
    height: 40px;
    margin: -10px 10px 0 0;
    width: 40px;
}
.header-nav > li.active > a > img {
    border-color: #ffffff;
}
.header-nav > li:hover.active > a > img {
    border-color: #ffffff;
}
.header-nav > li:hover > a > img {
    border-color: $lightGreen;
}
//remove this style once you add proper logo
.navbar-logo {
    float: left;
    margin-right: 10px;
    border: 10px solid transparent;
    border-color: #4DCACA #31A3A3 #1D8888;
    opacity: .9;
    filter: alpha(opacity=90);
    border-radius: 2px;
}
.navbar-default {
    background-color: #2d353c;
}
.navbar-default .navbar-nav > li > a {
    color: #a8acb1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #1a2229;
//    background-color: #232a2f; soft brown hover
    color: $lightGreen;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #1a2229;
    color: #a8acb1;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #00acac !important;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: transparent;
}

.navbar-nav>li>a .label {
    position: absolute;
    top: 7px;
    right: 12px;
    display: block;
    background: $lightRed;
    line-height: 12px;
    font-weight: 300;
    padding: .3em .6em;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.navbar-nav>li>a:active .label {
    background: $darkRed;
}
.header-nav .dropdown-menu {
    border: 0;
    padding: 10px 0;
    font-size: 12px;
    background-color: $lightBlack;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.header-nav .dropdown-menu > li:first-child {
    margin-top: -1px;
}
.header-nav .dropdown-menu > li {
    position: relative;
}
.navbar-left .dropdown-menu > li:first-child:after, .navbar-right .dropdown-menu > li:first-child:after {
    position: absolute;
    top: -15px;
    display: inline-block;
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-bottom: 6px solid $lightBlack;
    border-left: 7px solid rgba(0, 0, 0, 0);
    content: '';
}
.navbar-left .dropdown-menu > li:first-child:after {
    left: 17px;
}
.navbar-right .dropdown-menu > li:first-child:after {
    right: 17px;
}

.dropdown-menu > li:first-child > a {
    border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
}
.header-nav .dropdown-menu > li > a {
    color: #a8acb1;
    padding: 5px 17px;
    text-align: left;
}
.header-nav .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: transparent;
    color: $lightGreen;
}
.header-nav .dropdown-menu > li > a > i {
    margin-right: 8px;
    margin-top: 2px;
}
.notification {
    width: 53px;
}
.header-nav .dropdown-menu .divider {
    margin: 5px 0;
    background-color: #a8acb1;
}
.navbar-brand {
    color: #ffffff!important;
    .text-theme {
        color: $lightGreen;
    }
}
