.login-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.login {
    .login-content {
        padding: 30px 40px;
        color: #999;
        width: 450px;
        margin: 0 auto;
    }
}
.bg-black {
    background: $lightBlack;
}
