<div class="col-sm-12 col-md-9 animated fadeInRight">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <h4 class="panel-title">Bank Details</h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal form-validation" name="bankDetailsForm" role="form" novalidate mm-unsaved-form-warning-modal="vm.reset()">
                <div class="form-group required">
                    <label class="control-label col-sm-4">Bank Name</label>
                    <div class="col-sm-5">
                        <input name="bankName" type="text" ng-model="vm.employee.bankDetails.bankName" class="form-control" required>
                        <div ng-if="bankDetailsForm.$submitted" ng-messages="bankDetailsForm.bankName.$error">
                            <div ng-message="required" class="error">This field is required.</div>
                        </div>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label col-sm-4">Account Number</label>
                    <div class="col-sm-5">
                        <input name="accountNumber" type="text" ng-model="vm.employee.bankDetails.accountNumber" class="form-control" required>
                        <div ng-if="bankDetailsForm.$submitted" ng-messages="bankDetailsForm.accountNumber.$error">
                            <div ng-message="required" class="error">This field is required.</div>
                        </div>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label col-sm-4">Account Name</label>
                    <div class="col-sm-5">
                        <input name="accountName" type="text" ng-model="vm.employee.bankDetails.accountName" class="form-control" required>
                        <div ng-if="bankDetailsForm.$submitted" ng-messages="bankDetailsForm.accountName.$error">
                            <div ng-message="required" class="error">This field is required.</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-4">
                        <jp-ng-bs-animated-button class="btn btn-sm btn-success" ng-click="vm.save(bankDetailsForm)" is-submitting="vm.isSubmitting" result="vm.result" options="vm.saveButtonOptions"></jp-ng-bs-animated-button>
                        <button type="button" class="btn btn-sm btn-default" ng-click="vm.reset()">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
