<fieldset class="animated fadeIn">
    <legend class="pull-left width-full">Account Settings</legend>
    <div class="form-group">
        <label class="control-label col-sm-4">Language</label>
        <div class="col-sm-5">
            <select name="language" ng-model="vm.employee.language" class="form-control" ng-options="language.code as language.name for language in vm.languages"></select>
        </div>
    </div>
    <div class="form-group required">
        <label class="control-label col-sm-4">Email</label>
        <div class="col-sm-5">
            <input name="email" type="email" ng-model="vm.employee.email" class="form-control" required>
            <div ng-if="accountSettingsForm.$submitted" ng-messages="accountSettingsForm.email.$error">
                <div ng-message="email" class="error">Invalid email.</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4">Password</label>
        <div class="col-sm-5">
            <p><a href="#">Reset password?</a></p>
        </div>
    </div>
</fieldset>
