<div class="well col-sm-12 col-md-9">
    <fieldset class="animated slideIn">
        <legend class="pull-left width-full">Account Details</legend>
            <div class="form-group">
                <label class="col-sm-4 control-label">Photo</label>
                <div class="col-sm-5">
                    <div class="btn-group mr5">
                        <img class="img-circle img-bordered-dark" src="../../../images/avatar.png" alt="" width="34px">
                    </div>

                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle>Change photo <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Upload photo</a></li>
                            <li><a href="#">Remove</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group required">
                <label class="control-label col-sm-4">First Name</label>
                <div class="col-sm-5">
                    <input name="firstName" type="text" ng-model="vm.employee.firstName" class="form-control" required>
                    <div ng-if="accountDetailsForm.$submitted" ng-messages="accountDetailsForm.firstName.$error">
                        <div ng-message="required" class="error">This field is required.</div>
                    </div>
                </div>
            </div>
            <div class="form-group required">
                <label class="control-label col-sm-4">Last Name</label>
                <div class="col-sm-5">
                    <input name="lastName" type="text" ng-model="vm.employee.lastName" class="form-control" required>
                    <div ng-if="accountDetailsForm.$submitted" ng-messages="accountDetailsForm.lastName.$error">
                        <div ng-message="required" class="error">This field is required.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Position</label>
                <div class="col-sm-5">
                    <select name="position" class="form-control" ng-model="vm.employee.position" ng-options="position.code as position.name for position in vm.positions"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">
                    Access Privileges
                    <a href="#" popover-placement="top" popover-append-to-body="true" popover="Employee: An employee has basic viewing access to the schedule. They can facilitate requests on their own shifts, respond to available shifts. ">
                        &nbsp;<i class="fa fa-question-circle"></i>
                    </a>
                </label>
                <div class="col-sm-5">
                    <select name="role" class="form-control" ng-model="vm.employee.role" ng-options="role.code as role.name for role in vm.roles"></select>
                </div>
            </div>
    </fieldset>
</div>
<ul class="pager bwizard-buttons">
    <li class="previous disabled" role="button"><a ui-sref="form.payment">← Previous</a></li>
    <li class="next" role="button"><a ui-sref="employees.add.account-settings">Next →</a></li>
</ul>
