<div id="header">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="schedule">
                    <span class="navbar-logo"></span> <span class="text-theme">Employee</span> Scheduling
                    <!--<img src="images/logo.png" alt="Logo">-->
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li ui-sref-active="active">
                        <a ui-sref="app.schedule">
                            <i class="fa fa-fw fa-calendar"></i>
                            Schedule
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.availability">
                            <i class="fa fa-fw fa-check"></i>
                            Availability
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.documents">
                            <i class="fa fa-fw fa-file-text"></i>
                            Documents
                        </a>
                    </li>
                    <li ui-sref-active="active" mm-access-level="$root.ACCESS_LEVELS.manager">
                        <a ui-sref="app.employees">
                            <i class="fa fa-fw fa-users"></i>
                            Employees
                        </a>
                    </li>
                    <li ui-sref-active="active" mm-access-level="$root.ACCESS_LEVELS.manager">
                        <a ui-sref="app.partners">
                            <i class="fa fa-fw fa-cubes"></i>
                            Partners
                        </a>
                    </li>
                    <li ui-sref-active="active" mm-access-level="$root.ACCESS_LEVELS.admin">
                        <a ui-sref="app.reports">
                            <i class="fa fa-fw fa-bar-chart"></i>
                            Reports
                        </a>
                    </li>
                </ul>
                <ul class="header-nav nav navbar-nav navbar-right">
                    <li class="dropdown hidden-xs">
                        <!--<a ui-fullscreen></a>-->
                        <!--<i class="fa fa-expand fa-fw text"></i>-->
                    </li>
                    <!--<li class="dropdown">-->
                        <!--<i class="fa fa-comments-o fa-2x"></i>-->
                    <!--</li>-->
                    <!--<li class="dropdown" dropdown>-->
                        <!--<a href="javascript:;" dropdown-toggle class="dropdown-toggle notification">-->
                            <!--<i class="fa fa-bell-o"></i>-->
                            <!--<span class="label">5</span>-->
                        <!--</a>-->
                        <!--<ul class="dropdown-menu media-list pull-right" role="menu">-->
                            <!--<li class="dropdown-header">Notifications (5)</li>-->
                            <!--<li class="divider"></li>-->
                            <!--<li class="media">-->
                                <!--<a href="javascript:;">-->
                                    <!--<div class="pull-left media-object bg-red"><i class="fa fa-bug"></i></div>-->
                                    <!--<div class="media-body">-->
                                        <!--<h6 class="media-heading">Server Error Reports</h6>-->
                                        <!--<div class="text-muted">3 minutes ago</div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li class="media">-->
                                <!--<a href="javascript:;">-->
                                    <!--<div class="media-body">-->
                                        <!--<h6 class="media-heading">John Smith</h6>-->
                                        <!--<p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>-->
                                        <!--<div class="text-muted">25 minutes ago</div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <li class="dropdown" dropdown ng-class="{active:$state.includes('account')}">
                        <a href="#" class="dropdown-toggle" dropdown-toggle>
                            <img ng-src="{{::$root.currentUser.avatar}}" alt="avatar" class="img-circle">
                            <span class="hidden-sm">{{::$root.currentUser.firstName}} {{::$root.currentUser.lastName}}</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight" role="menu">
                            <li ui-sref-active="active">
                                <a ui-sref="app.account.account-details">
                                    <i class="fa fa-fw fa-user"></i> My Account
                                </a>
                            </li>
                            <li ui-sref-active="active" mm-access-level="$root.ACCESS_LEVELS.admin">
                                <a ui-sref="app.settings.positions">
                                    <i class="fa fa-fw fa-cogs"></i> App Settings
                                </a>
                            </li>
                            <!--<li>-->
                                <!--<a href="#">-->
                                    <!--<i class="fa fa-fw fa-tasks"></i> Activity-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">-->
                                    <!--<i class="fa fa-fw fa-laptop"></i> Tour Guide-->
                                <!--</a>-->
                            <!--</li>-->
                            <li class="divider"></li>
                            <li ui-sref-active="active">
                                <a ng-click="vm.logout()">
                                    <i class="fa fa-fw fa-sign-out"></i> Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>
