<fieldset class="animated fadeIn" ng-form="employeeContactDetailsForm">
    <legend class="pull-left width-full">Contact Details</legend>
    <div class="form-group">
        <label class="control-label col-sm-4">Phone Number</label>
        <div class="col-sm-5">
            <input name="phoneNumber" type="text" ng-model="vm.employee.phoneNumber" ng-maxlength="60" class="form-control">
            <div ng-if="employeeContactDetailsForm.$submitted" ng-messages="employeeContactDetailsForm.phoneNumber.$error">
                <div ng-message="maxlength" class="error">This field text is too long (max 60 characters).</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4">Address</label>
        <div class="col-sm-5">
            <input name="address" type="text" ng-model="vm.employee.address" ng-maxlength="60" class="form-control">
            <div ng-if="employeeContactDetailsForm.$submitted" ng-messages="employeeContactDetailsForm.address.$error">
                <div ng-message="maxlength" class="error">This field text is too long (max 60 characters).</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4">City</label>
        <div class="col-sm-5">
            <input name="city" type="text" ng-model="vm.employee.city" ng-maxlength="60" class="form-control">
            <div ng-if="employeeContactDetailsForm.$submitted" ng-messages="employeeContactDetailsForm.city.$error">
                <div ng-message="maxlength" class="error">This field text is too long (max 60 characters).</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4">Zip Code</label>
        <div class="col-sm-5">
            <input name="zipCode" type="text" ng-model="vm.employee.zipCode" ng-maxlength="60" class="form-control">
            <div ng-if="employeeContactDetailsForm.$submitted" ng-messages="employeeContactDetailsForm.zipCode.$error">
                <div ng-message="maxlength" class="error">This field text is too long (max 60 characters).</div>
            </div>
        </div>
    </div>
</fieldset>
