<section class="login-container animated fadeIn">
    <div class="login">
        <div class="info text-center">
            <alert-success has-success="vm.hasSuccess" success-message="vm.successMessage"></alert-success>
        </div>
        <div ng-if="!vm.hasSuccess">
            <div class="info text-center">
                <p class="text-small">Enter your new account password below to complete account activation.</p>
            </div>
            <div class="login-body">
                <div class="container">
                    <div class="form-container">
                        <alert-danger has-error="vm.hasError" error-message="vm.errorMessage"></alert-danger>

                        <form method="post" class="form-validation" name="activateAccountForm" role="form" ng-submit="vm.activateAccount(activateAccountForm.$valid, activateAccountForm)" novalidate>
                            <fieldset>
                                <div class="form-group required">
                                    <div class="btn-icon-lined btn-icon-round btn-icon-sm btn-default-light" ng-class="{'error-icon': activateAccountForm.password.$invalid && activateAccountForm.$submitted, 'valid-icon': activateAccountForm.password.$valid && activateAccountForm.$submitted}">
                                        <span class="glyphicon glyphicon-lock"></span>
                                    </div>
                                    <input type="password" name="password" ng-model="vm.password" class="form-control input-lg input-round text-center" placeholder="Password" ng-minlength="6" ng-maxlength="20" required>
                                    <div ng-if="activateAccountForm.$submitted" ng-messages="activateAccountForm.password.$error">
                                        <div ng-message="required" class="error">This field is required.</div>
                                        <div ng-message="minlength" class="error">Your password must be at least 6 characters long.</div>
                                        <div ng-message="maxlength" class="error">Your password must be max 20 characters long.</div>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <div class="btn-icon-lined btn-icon-round btn-icon-sm btn-default-light" ng-class="{'error-icon': activateAccountForm.confirmPassword.$invalid && activateAccountForm.$submitted, 'valid-icon': activateAccountForm.confirmPassword.$valid && activateAccountForm.$submitted}">
                                        <span class="glyphicon glyphicon-lock"></span>
                                    </div>
                                    <input type="password" name="confirmPassword" ng-model="vm.confirmPassword" class="form-control input-lg input-round text-center" placeholder="Confirm Password" mm-equal-validator="vm.password" required>
                                    <div ng-if="activateAccountForm.$submitted" ng-messages="activateAccountForm.confirmPassword.$error">
                                        <div ng-message="required" class="error">This field is required.</div>
                                        <div ng-message="equal" class="error">Passwords do not match.</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <jp-ng-bs-animated-button class="btn btn-lg btn-success btn-block btn-round text-center" is-submitting="vm.isSubmitting" result="vm.result" options="vm.saveButtonOptions"></jp-ng-bs-animated-button>
                                </div>
                            </fieldset>
                        </form>

                        <section>
                            <p class="text-center text-muted text-small">
                                Copyright &copy; <span id="copyright-year">{{::vm.copyrightDate | date:'yyyy'}}</span> <a href="http://www.martinmicunda.com" target="_blank">Martin Micunda</a>. All rights reserved.
                            </p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
