body {
    /*font-family: 'Lato', Calibri, Arial, sans-serif;*/
    background: #ddd url(../../images/body.jpg) repeat top left !important;
    /*font-weight: 300;*/
    /*font-size: 15px;*/
    color: #333;
    /*-webkit-font-smoothing: antialiased;*/
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
}

.login-container-bg {
    padding-top: 100%;  /*forces 1:1 aspect ratio */
    background: #ddd url(../../images/body.jpg) repeat top left !important;
}
.login-wrapper {
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -155px 0 0 -150px;
    text-align: center;

    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}
.login-wrapper section {
    width: 300px;
}

.login-wrapper form {
    position: relative; /* For the submit button positioning */
    padding: 10px;

    box-shadow:
    0 0 1px rgba(0, 0, 0, 0.3),
    0 3px 7px rgba(0, 0, 0, 0.3),
    inset 0 1px rgba(255,255,255,1),
    inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    background: linear-gradient(#eeefef, #ffffff 10%);
}

.login-wrapper .field {
    position: relative; /* For the icon positioning */
}

.login-wrapper .field i {
    /* Size and position */
    left: 0px;
    top: 0px;
    position: absolute;
    height: 36px;
    width: 36px;

    /* Line */
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);

    /* Styles */
    color: #777777;
    text-align: center;
    line-height: 38px;
    transition: all 0.3s ease-out;
    pointer-events: none;
}

.login-wrapper input[type=email],
.login-wrapper input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);

    /* Size and position */
    width: 100%;
    padding: 10px 18px 10px 45px;

    /* Styles */
    border: none; /* Remove the default border */
    box-shadow:
    inset 0 0 5px rgba(0,0,0,0.1),
    inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    background: #f9f9f9;
    color: #777;
    transition: color 0.3s ease-out;
}

.login-wrapper input[type=email] {
    margin-bottom: 10px;
}

.login-wrapper input[type=email]:hover ~ i,
.login-wrapper input[type=password]:hover ~ i {
    color: #52cfeb;
}

.login-wrapper input[type=email]:focus ~ i,
.login-wrapper input[type=password]:focus ~ i {
    color: #42A2BC;
}

.login-wrapper input[type=email]:focus,
.login-wrapper input[type=password]:focus,
.login-wrapper button[type=submit]:focus {
    outline: none;
}

.login-wrapper .submit {
    /* Size and position */
    width: 65px;
    height: 65px;
    position: absolute;
    top: 19px;
    right: -25px;
    padding: 10px;
    z-index: 2;

    /* Styles */
    background: #ffffff;
    border-radius: 50%;
    box-shadow:
    0 0 2px rgba(0,0,0,0.1),
    0 3px 2px rgba(0,0,0,0.1),
    inset 0 -3px 2px rgba(0,0,0,0.2);
}

.login-wrapper .submit:after {
    /* Size and position */
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: -2px;
    left: 30px;

    /* Styles */
    background: #ffffff;

    /* Other masks trick */
    box-shadow: 0 62px white, -32px 31px white;
}
.forgot-password {
    top: -4px !important;
}
.forgot-password:after {
    background: none !important;
    box-shadow: none !important;
}

.login-wrapper button {
    /* Size and position */
    width: 100%;
    height: 100%;
    margin-top: -1px;

    /* Icon styles */
    font-size: 1.4em;
    line-height: 1.75;
    color: white;

    /* Styles */
    border: none; /* Remove the default border */
    border-radius: inherit;
    background: linear-gradient(#52cfeb, #42A2BC);
    box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    0 1px 2px rgba(0,0,0,0.35),
    inset 0 3px 2px rgba(255,255,255,0.2),
    inset 0 -3px 2px rgba(0,0,0,0.1);

    cursor: pointer;
}

.login-wrapper button:hover,
.login-wrapper button[type=submit]:focus {
    background: #52cfeb;
    transition: all 0.3s ease-out;
}

.login-wrapper button:active {
    background: #42A2BC;
    box-shadow:
    inset 0 0 5px rgba(0,0,0,0.3),
    inset 0 3px 4px rgba(0,0,0,0.3);
}


.login-wrapper .thumb {
    width: 150px;
    margin: 0 auto;
}

.login-wrapper .thumb img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3), inset 0 1px rgba(255,255,255,1), inset 0 -3px 2px rgba(0,0,0,0.25);
}
.login-wrapper .thumbnail {
    background: none;
    border: none;
}
.thumbnail img, .thumbnail a img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    z-index: 2;
    border-radius: 2px;
}
.login-wrapper .thumbnail .name {
    display: block;
    color: #5f5f5f;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
    text-shadow: 0 1px 1px #ffffff;
}

.login-wrapper .thumbnail .position,.login-wrapper .logControl a, .footer-login {
    display: block;
    margin-top: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    color: #999;
}

.login-wrapper .logControl a:hover {
    color: #52cfeb;
}

.login-wrapper .logControl {
    margin-top: 10px;
}







.at-view-flip-out-vertical.ng-leave {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 20;
}

.at-view-flip-out-vertical.ng-leave-active {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    z-index: 10;
}

.at-view-flip-in-vertical.ng-enter {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
}

.at-view-flip-in-vertical.ng-enter-active {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    z-index: 20;
}




/*.pt-page-flipOutRight.ng-leave {*/
    /*-webkit-transform-origin: 50% 50%;*/
    /*transform-origin: 50% 50%;*/
    /*-webkit-animation: flipOutRight .5s both ease-in;*/
    /*animation: flipOutRight .5s both ease-in;*/
/*}*/
/*.pt-page-flipInRight.ng-leave-active {*/
    /*-webkit-transform-origin: 50% 50%;*/
    /*transform-origin: 50% 50%;*/
    /*-webkit-animation: flipInRight .5s both ease-out;*/
    /*animation: flipInRight .5s both ease-out;*/
/*}*/
/*.pt-page-flipInLeft.ng-enter {*/
    /*-webkit-transform-origin: 50% 50%;*/
    /*transform-origin: 50% 50%;*/
    /*-webkit-animation: flipInLeft .5s both ease-out;*/
    /*animation: flipInLeft .5s both ease-out;*/
/*}*/
/*.pt-page-flipOutLeft.ng-enter-active {*/
    /*-webkit-transform-origin: 50% 50%;*/
    /*transform-origin: 50% 50%;*/
    /*-webkit-animation: flipOutLeft .5s both ease-in;*/
    /*animation: flipOutLeft .5s both ease-in;*/
/*}*/

/*@-webkit-keyframes flipOutRight {*/
    /*from { }*/
    /*to { -webkit-transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }*/
/*}*/
/*@keyframes flipOutRight {*/
    /*from { }*/
    /*to { -webkit-transform: translateZ(-1000px) rotateY(90deg); transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }*/
/*}*/

/*@-webkit-keyframes flipInLeft {*/
    /*from { -webkit-transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }*/
/*}*/
/*@keyframes flipInLeft {*/
    /*from { -webkit-transform: translateZ(-1000px) rotateY(-90deg); transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }*/
/*}*/

/*@-webkit-keyframes flipOutLeft {*/
    /*from { }*/
    /*to { -webkit-transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }*/
/*}*/
/*@keyframes flipOutLeft {*/
    /*from { }*/
    /*to { -webkit-transform: translateZ(-1000px) rotateY(-90deg); transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }*/
/*}*/

/*@-webkit-keyframes flipInRight {*/
    /*from { -webkit-transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }*/
/*}*/
/*@keyframes flipInRight {*/
    /*from {*/
        /*-webkit-transform: translateZ(-1000px) rotateY(90deg);*/
        /*transform: translateZ(-1000px) rotateY(90deg);*/
        /*opacity: 0.2;*/
    /*}*/
/*}*/

.logleft, .logright, .logbackleft, .logbackright {
    background: url(../../images/loginControl.png) no-repeat; height: 37px; width: 37px; position: absolute; top: 62px; display: block; opacity: 0; filter: alpha(opacity=0);
    opacity: 0;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
.logleft { left: 0; background-position: 0 0; }
.logright { right: 0; background-position: -38px 0; opacity: 0;}
.logbackleft { left: 0; background-position: -76px 0; }
.logbackright { right: 0; background-position: -76px 0;
    /* flip backround image*/
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.thumbnail:hover .logleft, .thumbnail:hover .logbackleft {
    left: 12px;
    opacity: 1;
}
.thumbnail:hover .logright, .thumbnail:hover .logbackright {
    right: 12px;
    opacity: 1;
}



.price-total {
    border-top: none;
    -webkit-transform-origin: 50% 0;
}
.price-total-container {
    -webkit-perspective: 300;
}
.hidden-price-total, .expanded-price-total  {
    transition: all 900ms cubic-bezier(0.40, 1.34, 0.51, 1.01);
}

.hidden-price-total {
    opacity: 0;
    -webkit-transform: rotateX(-60deg);
    -moz-transform: rotateX(-60deg);
    -o-transform: rotateX(-60deg);
    transform: rotateX(-60deg);
}

.expanded-price-total {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
}




/* ----------------------------
 *
 * Animation - http://daneden.me/animate
 *
 * --------------------------- */
.animation {
    visibility: hidden;
}
.animation.delay {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.animation.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.animation.animating {
    visibility: visible;
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animation.animated {
    visibility: visible;
}
.animation.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}




@-webkit-keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotateY(-10deg);
        transform: perspective(400px) rotateY(-10deg);
    }
    70% {
        -webkit-transform: perspective(400px) rotateY(10deg);
        transform: perspective(400px) rotateY(10deg);
    }
    100% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
@keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        -ms-transform: perspective(400px) rotateY(90deg);
        transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotateY(-10deg);
        -ms-transform: perspective(400px) rotateY(-10deg);
        transform: perspective(400px) rotateY(-10deg);
    }
    70% {
        -webkit-transform: perspective(400px) rotateY(10deg);
        -ms-transform: perspective(400px) rotateY(10deg);
        transform: perspective(400px) rotateY(10deg);
    }
    100% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        -ms-transform: perspective(400px) rotateY(0deg);
        transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
.flipInY {
    -webkit-backface-visibility: visible !important;
    -ms-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY;
}


@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    70% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        transform: scale(0.3);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }
    70% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
.bounceIn.ng-active {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}
.bounceIn.ng-inactive{
    -webkit-animation-name: bounceOut;
    animation-name: bounceOut;
    display: block !important;
}


/*.bounceIn.ng-hide-remove {*/
    /*-webkit-animation-name: bounceIn;*/
    /*animation-name: bounceIn;*/
/*}*/
/*.bounceIn.ng-hide-add{*/
    /*-webkit-animation-name: bounceOut;*/
    /*animation-name: bounceOut;*/
    /*display: block !important;*/
/*}*/


@-webkit-keyframes bounceOut {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    25% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
    }
}
@keyframes bounceOut {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    25% {
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        transform: scale(0.3);
    }
}
.bounceOut {
    -webkit-animation-name: bounceOut;
    animation-name: bounceOut;
}

@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}
@keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
}
.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
}
