.mm-center-container {
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display:table;
}
.mm-centered {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}