//$darkGrey:              #333;
$mediumGrey:            #a8acb1;
$lightGrey:             #d9e0e7;

$darkGreen:             #008a8a;
$lightGreen:            #00acac;

$darkOrange:            #c47d15;
$lightOrange:           #f59c1a;

$darkRed:               #cc4946;
$lightRed:              #ff5b57;

$darkBlue:              #3a92ab;
$lightBlue:             #49b6d6;

$darkBlack:             #1a2229;
$lightBlack:            #2d353c;

$white:                 #ffffff;

//// Formal Theme:
$primaryColor:          $mediumGrey;
//$secondaryColor:        $darkGrey;
//
//$fontWeightLight:       200;
$fontWeightMedium:      500;
$fontWeightHeavy:       600;

$fontColorLight:        #707478;
$fontColorDark:         #242a30;

$fontSizeBase:          13px;
//$lineHeightBase:        1.4;
//
//$inputHeightBase:       40px;
//$inputColor:            $lightGrey;
//$inputBg:               #fff;
//$inputBgDisabled:       #eee;
$inputBorder:           #ccd0d4;
$inputFocusBorder:      #9fa2a5;
$inputWidth:            1px;

//$inputBorderRadius:     3px;
//
//
$borderRadius: 4px;
//$btnBorderRadius: $borderRadius;
//$authNavHeight: 32px;
