/*p*/
  /*color: red*/

/*html {*/
  /*overflow-y: scroll;*/
  /*height: 100%;*/

  /*body {*/
    /*font-family: 'Varela Round', sans-serif;*/
    /*background: #F2F2F2;*/
    /*font-size: 1.3em;*/
  /*}*/
/*}*/

/*a, a:focus, a:hover {*/
  /*color: #235A9F;*/
  /*outline: none;*/
  /*text-decoration: none;*/
/*}*/

/*.post {*/
  /*background: #fff;*/
  /*border-radius: 3px;*/
  /*box-shadow: 0px 1px 1px #aaa;*/
  /*padding: 3em;*/
  /*margin: 2em auto;*/

  /*.post-header {*/
    /*margin: 0 0 1.8em;*/

    /*.post-title {*/
      /*color: #222;*/
      /*font-size: 1.8em;*/
      /*margin: 0 0 0 0.2em;*/
    /*}*/

    /*.post-avatar {*/
      /*border-radius: 50%;*/
      /*float: right;*/
      /*margin-left: 1em;*/
    /*}*/

    /*.post-meta {*/
      /*color: #999;*/
      /*font-size: 90%;*/
      /*margin: 0;*/
    /*}*/
  /*}*/

  /*.post-content {*/
    /*color: #344151;*/
    /*font-family: "Source Sans Pro",sans-serif;*/
    /*font-size: 1.15em;*/
    /*font-weight: 400;*/
    /*letter-spacing: 0.01em;*/
    /*line-height: 1.5em;*/
    /*text-align: justify;*/
  /*}*/

  /*.post-footer {*/
    /*margin-top: 1.8em;*/
  /*}*/
/*}*/

/*.btn-primary {*/
  /*background-color: #235A9F;*/
  /*border-color: rgb(16, 76, 128);*/
/*}*/