<div class="col-sm-12 col-md-9 animated fadeInRight">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <h4 class="panel-title">Positions</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="table-filter">
                        Search <input type="search" ng-model="searchText">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="pull-right">
                        <button type="button" class="btn btn-sm btn-success" ui-sref="app.settings.positions.add">Add Position</button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="position in vm.positions | filter:searchText | orderBy:'name'">
                        <td>{{position.name}}</td>
                        <td>
                            <a mm-really-click="vm.deleteEmployee(position)" tooltip-placement="top" tooltip="delete"><i class="fa fa-trash fa-fw"></i></a>
                            <a ui-sref=".edit({id: position.id})" tooltip-placement="top" tooltip="edit"><i class="fa fa-pencil fa-fw"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--TODO: this should be directive and pass only header and body text as delete modal is use in multiple places-->
<script type="text/ng-template" id="deleteModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()">×</button>
        <h4 class="modal-title">Delete Position</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure you want delete this position?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-white" ng-click="vm.cancel()">Cancel</button>
        <button class="btn btn-sm btn-success" ng-click="vm.ok()">OK</button>
    </div>
</script>
