<div id="page-container" class="fade in">
    <!-- begin login -->
    <div class="login bg-black animated fadeInDown">
        <!-- begin brand -->

        <!-- end brand -->
        <div class="login-content">
            <form action="index.html" method="POST" class="margin-bottom-0">
                <div class="form-group m-b-20">
                    <input type="text" class="form-control input-lg" placeholder="Email Address">
                </div>
                <div class="form-group m-b-20">
                    <input type="text" class="form-control input-lg" placeholder="Password">
                </div>
                <div class="checkbox m-b-20">
                    <label>
                        <input type="checkbox"> Remember Me
                    </label>
                </div>
                <div class="login-buttons">
                    <button type="submit" class="btn btn-success btn-block btn-lg" ng-click="vm.login()">Sign me in</button>
                </div>
                <!--ng-click="vm.login()"-->
            </form>
        </div>
    </div>
</div>



