<section>
    <div>
        <div class="thumbnail">
            <div class="thumb">
                <img alt="" src="../../../images/{{vm.user ? 'me.jpg' : 'anonymous.jpg'}}">
            </div>

            <div class="text-center" ng-show="vm.user">
                <span class="name">{{vm.user.firstName + ' ' + vm.user.firstName}}</span>
                <span class="position">{{vm.user.role | role}}</span>
            </div>

            <div class="loginActions" ng-show="vm.user">
                <div><a ui-sref="authentication.login" tooltip-placement="top" tooltip="Change user"
                        class="logleft"></a></div>
                <div><a ui-sref="authentication.login" tooltip-placement="top" tooltip="Back to login"
                        class="logbackright"></a></div>
            </div>
        </div>
        <form method="post" name="form" submit="vm.signIn(credentials)" submitted="vm.submitted"
              novalidate form-autofill-fix shake-that>
            <div class="field">
                <input type="email" name="email" placeholder="Email" ng-model="credentials.email"
                       style="margin-bottom: 0" required>
                <i class="fa fa-envelope fa-lg"></i>
            </div>
            <div class="submit forgot-password">
                <button type="submit" name="submit"><i class="fa fa-arrow-right fa-lg"></i></button>
            </div>
        </form>
        <div class="logControl" ng-hide="vm.user">
            <div class="pull-left">
                <a ui-sref="authentication.login"><i class="fa fa-angle-double-left"></i>&nbsp;Back to Login</a>
            </div>
        </div>
        <div class="alert alert-dismissable alert-success animation animating bounceIn" style="margin-top: 10px;"
             ng-show="vm.submitted">
            <span class="close" ng-click="vm.submitted = !vm.submitted">×</span>
            We have emailed you instructions on how to reset your password.
        </div>
    </div>
</section>
