<section>
    <div class="thumbnail">
        <div class="thumb">
            <img alt="" ng-src="../../../images/anonymous.jpg">
        </div>

        <div class="loginActions" ng-show="vm.user">
            <div><a ui-sref="authentication.lock" tooltip-placement="top" tooltip="Back to lock screen"
                    class="logbackleft"></a></div>
            <div><a ui-sref="authentication.reset" tooltip-placement="top" tooltip="Forgot password"
                    class="logright"></a></div>
        </div>
    </div>
    <form method="post" name="loginForm" submit="vm.signIn(credentials)" submitted="vm.submitted" novalidate
          form-autofill-fix shake-that>
        <div class="field">
            <input type="email" name="email" placeholder="Email" ng-model="credentials.email" required />
            <i class="fa fa-envelope fa-lg"></i>
        </div>
        <div class="field">
            <input type="password" name="password" placeholder="Password" ng-model="credentials.password" required />
            <i class="fa fa-lock fa-lg"></i>
        </div>

        <div class="submit">
            <button type="submit" name="submit"><i class="fa fa-arrow-right fa-lg"></i></button>
        </div>
    </form>
    <div class="logControl" ng-hide="vm.user">
        <div class="pull-right">
            <a ui-sref="authentication.reset">Forgot Password?</a>
        </div>
    </div>

    <ng-messages style="display: block; margin-top: 10px;" class="alert alert-dismissable alert-danger animation animating bounceIn" ng-if="vm.submitted || loginForm.email.$dirty" for="loginForm.email.$error">
        <ng-message when="required">Email is required</ng-message>
        <ng-message when="email">Invalid email address</ng-message>
    </ng-messages>

    <ng-messages style="display: block; margin-top: 10px;" class="alert alert-dismissable alert-danger animation animating bounceIn" ng-if="vm.submitted || loginForm.password.$dirty" for="loginForm.password.$error">
        <ng-message when="required">Password is required</ng-message>
    </ng-messages>

    <!--<div class="alert alert-dismissable alert-danger animation animating bounceIn" style="margin-top: 10px;"-->
         <!--ng-show="vm.submitted && !(!loginForm.email.$error.required && loginForm.email.$error.email)">-->
        <!--<div>Required email.</div>-->
        <!--<span class="close" ng-click="vm.submitted = !vm.submitted">×</span>-->

    <!--</div>-->
</section>
