<div>
    <div class="login-wrapper">
        <div ui-view class="at-view-flip-in-vertical at-view-flip-out-vertical"></div>
        <p class="text-center footer-login" style="margin-top:30px;">Copyright &copy; {{vm.copyrightDate | date:'yyyy'}} by <a
            href="http://www.martinmicunda.com" target="_blank">Martin Micunda</a></p>
    </div>
    <!--<footer class="row position footer-login" style="position: absolute; bottom:0; width:100%;">-->
        <!--<p class="text-center">Copyright &copy; {{vm.copyrightDate | date:'yyyy'}} by <a-->
            <!--href="http://www.martinmicunda.com" target="_blank">Martin Micunda</a></p>-->
    <!--</footer>-->
</div>
