<div class="container-fluid">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <h4 class="panel-title">Employees</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="table-filter">
                        Search: <input type="search" ng-model="vm.filterField" ng-change="vm.filterEmployees()"><span class="checkbox"><label><input type="checkbox" value="">hide inactive employees</label></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="pull-right">
                        <button type="button" class="btn btn-sm btn-success" ui-sref="app.employees.add.account-details">Add Employee</button>&nbsp;
                        <div class="btn-group">
                            <button class="btn btn-sm btn-info" ng-class="{ 'active': vm.listViewTable }" ng-click="vm.toggleListView()"><i class="fa fa-align-justify fa-fw"></i> Table</button>
                            <button class="btn btn-sm btn-info" ng-class="{ 'active': !vm.listViewTable }" ng-click="vm.toggleListView()"><i class="fa fa-th-large fa-fw"></i> Grid</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive" ng-show="vm.listViewTable">
                <!--http://vendroid.venmond.com/pages-ecommerce-products.php TODO: possible look of filter in table-->
                <table class="table table-hover animated fadeIn">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Position</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!-- TODO: delete icon should not be displayed for current user (user that is looking at the list)-->
                        <tr ng-repeat="employee in vm.filteredEmployees | startFrom:(vm.currentPage-1)*vm.employeesPerPage | limitTo:vm.employeesPerPage">
                            <td><img ng-src="../images/{{::employee.avatar}}" alt="" class="img-circle" title="{{::employee.firstName}} {{::employee.lastName}}"></td>
                            <td>{{::employee.firstName}} {{::employee.lastName}}</td>
                            <td>{{::employee.email}}</td>
                            <td>{{::employee.contactDetails.phoneNumber}}</td>
                            <td>{{::employee.position}}</td>
                            <td>{{::employee.role}}</td>
                            <td><span class="label"
                                      ng-class="{'label-success': employee.status === 'active', 'label-warning': employee.status === 'pending', 'label-default': employee.status === 'inactive'}">{{::employee.status}}</span></td>
                            <td>
                                <a ui-sref=".message({id: employee.id})" tooltip-placement="top" tooltip="send message"><i class="fa fa-comment-o fa-fw"></i></a>
                                <a ui-sref=".schedule({id: employee.id})" tooltip-placement="top" tooltip="see schedule"><i class="fa fa-calendar fa-fw"></i></a>
                                <a mm-really-click="vm.deleteEmployee(employee)" tooltip-placement="top" tooltip="delete"><i class="fa fa-trash fa-fw"></i></a>
                                <a ui-sref=".edit.account-details({id: employee.id})" tooltip-placement="top" tooltip="edit"><i class="fa fa-pencil fa-fw"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="!vm.listViewTable">
                <div class="row animated fadeIn mt20">
                    <div class="col-lg-2 col-md-3 col-sm-3" ng-repeat="employee in vm.filteredEmployees | startFrom:(vm.currentPage-1)*vm.employeesPerPage | limitTo:vm.employeesPerPage">
                        <div class="thumbnail">
                            <div class="text-center" style="padding-top: 9px;">
                                <img ng-src="../images/{{::employee.avatar}}" alt=""
                                     ng-class="{'img-bordered-success': employee.status === 'active', 'img-bordered-warning': employee.status === 'pending', 'img-bordered-dark': employee.status === 'inactive'}"
                                     class="img-circle"
                                     title="{{::employee.firstName}} {{::employee.lastName}}"
                                     style="height: 70px; width: 70px;">
                            </div>
                            <div class="caption text-center">
                                <h6 class="mb0 mt0 font-weight-heavy">{{::employee.firstName}} {{::employee.lastName}}</h6>
                                {{::employee.position}} <br />
                                <p>{{::employee.contactDetails.phoneNumber}}</p>
                                <div>
                                    <a ui-sref=".message({id: employee.id})" tooltip-placement="top" tooltip="send message"><i class="fa fa-comment-o fa-fw"></i></a>
                                    <a ui-sref=".schedule({id: employee.id})" tooltip-placement="top" tooltip="see schedule"><i class="fa fa-calendar fa-fw"></i></a>
                                    <a mm-really-click="vm.deleteEmployee(employee)" tooltip-placement="top" tooltip="delete"><i class="fa fa-trash fa-fw"></i></a>
                                    <a ui-sref=".edit.account-details({id: employee.id})" tooltip-placement="top" tooltip="edit"><i class="fa fa-pencil fa-fw"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="table-info">Showing {{((vm.currentPage-1)*vm.employeesPerPage) + 1}} to {{vm.currentPage * vm.employeesPerPage}} of {{vm.filteredEmployees.length}} employees</div>
                </div>
                <div class="col-md-6 col-sm-6" ng-if="vm.filteredEmployees.length > vm.employeesPerPage">
                    <pagination class="pull-right" total-items="vm.filteredEmployees.length" ng-model="vm.currentPage" previous-text="← Previous" next-text="Next →"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="deleteModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()">×</button>
        <h4 class="modal-title">Delete Employee</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure you want delete this employee?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-white" ng-click="vm.cancel()">Cancel</button>
        <button class="btn btn-sm btn-success" ng-click="vm.ok()">OK</button>
    </div>
</script>
