<div class="col-sm-12 col-md-9 animated fadeInRight">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <h4 class="panel-title">Account Settings</h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal form-validation" name="accountSettingsForm" role="form" novalidate mm-unsaved-form-warning-modal="vm.reset()">
                <div class="form-group">
                    <label class="control-label col-sm-4">Language</label>
                    <div class="col-sm-5">
                        <select name="language" ng-model="vm.employee.language" class="form-control" ng-options="language.code as language.name for language in vm.languages"></select>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label col-sm-4">Email</label>
                    <div class="col-sm-5">
                        <input name="email" type="email" ng-model="vm.employee.email" class="form-control" required>
                        <div ng-if="accountSettingsForm.$submitted" ng-messages="accountSettingsForm.email.$error">
                            <div ng-message="email" class="error">Invalid email.</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Current Password</label>
                    <div class="col-sm-5">
                        <input name="currentPassword" type="password" ng-model="vm.employee.password" class="form-control">
                        <a href="#">Forgot password?</a>
                        <div ng-if="accountSettingsForm.$submitted" ng-messages="accountSettingsForm.lastName.$error">
                            <div ng-message="required" class="error">This field is required.</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">New Password</label>
                    <div class="col-sm-5">
                        <input name="newPassword" type="password" ng-model="vm.employee.password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Confirm Password</label>
                    <div class="col-sm-5">
                        <input name="confirmPassword" type="password" ng-model="vm.employee.password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-4">
                        <jp-ng-bs-animated-button class="btn btn-sm btn-success" ng-click="vm.save(accountSettingsForm)" is-submitting="vm.isSubmitting" result="vm.result" options="vm.saveButtonOptions"></jp-ng-bs-animated-button>
                        <button type="button" class="btn btn-sm btn-default" ng-click="vm.reset()">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
