<fieldset class="animated fadeIn">
    <legend class="pull-left width-full">Bank Details</legend>
    <div class="form-group">
        <label class="control-label col-sm-4">Bank Name</label>
        <div class="col-sm-5">
            <input name="bankName" type="text" ng-model="vm.employee.bankName" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4">Account Number</label>
        <div class="col-sm-5">
            <input name="accountNumber" type="text" ng-model="vm.employee.accountNumber" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4">Account Name</label>
        <div class="col-sm-5">
            <input name="accountName" type="text" ng-model="vm.employee.accountName" class="form-control">
        </div>
    </div>
</fieldset>
