<form class="form-horizontal form-validation" name="positionEditForm" role="form" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()">×</button>
        <h4 class="modal-title">Edit Position</h4>
    </div>
    <div class="modal-body form-wizard">
        <div ng-if="vm.hasError" class="alert alert-danger animated fadeIn">
            <strong>Error!</strong>
            {{vm.errorMessage}}
        </div>
        <div class="form-group required mb0">
            <label class="control-label col-sm-4">Name</label>
            <div class="col-sm-5">
                <input name="name" type="text" ng-model="vm.position.name" class="form-control" required>
                <div ng-if="positionEditForm.$submitted" ng-messages="positionEditForm.name.$error">
                    <div ng-message="required" class="error">This field is required.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="vm.cancel()" class="btn btn-sm btn-white">Close</button>
        <jp-ng-bs-animated-button class="btn btn-sm btn-success" ng-click="vm.save(positionEditForm)" is-submitting="vm.isSubmitting" result="vm.result" options="vm.saveButtonOptions"></jp-ng-bs-animated-button>
    </div>
</form>
