<div class="login-container fade in">
    <div class="login bg-black">
        <div class="login-content animated fadeInRightBig">
            <alert-danger has-error="vm.hasError" error-message="vm.errorMessage"></alert-danger>
            <alert-success has-success="vm.hasSuccess" success-message="vm.successMessage"></alert-success>

            <form method="post" class="form-validation" name="passwordResetForm" role="form" ng-submit="vm.resetPassword(passwordResetForm.$valid, passwordResetForm)" novalidate>
                <div class="form-group required">
                    <input type="email" name="email" ng-model="vm.credentials.email" class="form-control input-lg" placeholder="Email Address" required>
                    <div ng-if="passwordResetForm.$submitted" ng-messages="passwordResetForm.email.$error">
                        <div ng-message="email" class="error">Invalid email.</div>
                        <div ng-message="required" class="error">This field is required.</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="hidden">
                </div>
                <div class="checkbox text-left">
                    <label class="pl0">
                        <a ui-sref="auth.login">Back to Login</a>
                    </label>
                </div>
                <div class="login-buttons">
                    <jp-ng-bs-animated-button class="btn btn-lg btn-success btn-block" is-submitting="vm.isSubmitting" result="vm.result" options="vm.saveButtonOptions"></jp-ng-bs-animated-button>
                </div>
            </form>
        </div>
    </div>
</div>

