<header ui-view="header"></header>
<!--<div><p>hellloooo</p>-->
    <!--&lt;!&ndash;http://www.rvmmedia.com/themeforest/admin-template/myadmin/horizontal_menu.html&ndash;&gt;-->
    <!--<header>-->
        <!--<span ng-controller="LoginCtrl as vm">-->
            <!--<button ng-click="vm.signOut()">Logout</button>-->
            <!--<button ng-click="vm.isTest()">users</button>-->
        <!--</span>-->
    <!--</header>-->
    <!--<main ui-view="container"></main>-->

<!--</div>-->
<footer ui-view="footer"></footer>
