<div class="container-fluid">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <h4 class="panel-title"><a ui-sref="app.documents">Documents</a> > {{::vm.folderName.name}}</h4>
        </div>
        <div class="panel-body">
            <div ng-if="vm.hasError" class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="alert alert-danger animated fadeIn">
                        <strong>Error!</strong>
                        {{vm.errorMessage}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="table-filter">
                        Search: <input type="search" ng-model="vm.searchText"></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="pull-right">
                        <button type="button" class="btn btn-sm btn-success" ui-sref="app.partners.add">Add Document</button>&nbsp;
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover animated fadeIn">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date Created</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="file in vm.files | filter:vm.searchText | orderBy:'name'">
                        <td>{{::file.name}}</td>
                        <td>{{::file.created}}</td>
                        <td>
                            <a mm-really-click="vm.deletePartner(partner)" mm-really-header="Delete File" mm-really-message="Are you sure you want delete this file?" tooltip-placement="top" tooltip="delete"><i class="fa fa-trash fa-fw"></i></a>
                            <a ui-sref=".edit({url: file.url})" tooltip-placement="top" tooltip="view"><i class="fa fa-eye fa-fw"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
