html,
body {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Open Sans', "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: $fontColorLight;
    font-size: $fontSizeBase;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    font-weight: $fontWeightMedium;
    color: $fontColorDark;
    font-size: $fontSizeBase;
}
main {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -50px;
    /* Pad bottom by footer height 50px + 20px inner padding*/
    padding: 70px 0;
    background-color: $lightGrey;
}
footer {
    line-height: 50px;
    height: 50px;
    background-color: #2d353c;
    color: $mediumGrey;
    font-size: 12px;
}
label {
    color: $fontColorDark;
}
a {
    cursor: pointer;
    color: $lightGreen;
    transition: color 100ms ease-in-out;
    -o-transition: color 100ms ease-in-out;
    -ms-transition: color 100ms ease-in-out;
    -moz-transition: color 100ms ease-in-out;
    -webkit-transition: color 100ms ease-in-out;
}
a:hover {
    outline: none;
    color: $darkGreen;
}
.font-weight-heavy {
    font-weight: $fontWeightHeavy;
}
.mb0 {
    margin-bottom: 0px!important;
}
.mt0 {
    margin-top: 0px!important;
}
.mr5 {
    margin-right: 5px!important;
}
.mb5 {
    margin-bottom: 5px!important;
}
.mb10 {
    margin-bottom: 10px!important;
}
.mt20 {
    margin-top: 20px!important;
}
.pl-0 {
    padding-left: 0;
}
.well {
    padding: 15px;
    background: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
}
