html,
body {
    width: 100%;
    height: 100%;
}
body {
//    overflow-x: hidden;
}
main {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -50px;
    /* Pad bottom by footer height 50px + 20px inner padding*/
    padding: 70px 0;
}
footer {
    line-height: 50px;
    height: 50px;
    background-color: #2d353c;
    color: #a8acb1;
    border-top: 1px solid #1a2229;
    font-size: 12px;
}


