html,
body {
    width: 100%;
    height: 100%;
}
body {
//    overflow-x: hidden;
}
main {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -50px;
    /* Pad bottom by footer height 50px + 20px inner padding*/
    padding: 70px 0;
    background-color: $lightGrey;
}
footer {
    line-height: 50px;
    height: 50px;
    background-color: #2d353c;
    color: $mediumGrey;
    font-size: 12px;
}
a {
    color: $mediumGrey;
}
a:hover {
    color: $white;
}
.mr5 {
    margin-right: 5px!important;
}
.mb5 {
    margin-bottom: 5px!important;
}
.mb10 {
    margin-bottom: 10px!important;
}
